.intro {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  color: var(--texts-all);
  scroll-snap-align: start;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#label {
  color: white;
  background-color: #00B5AD;
  padding: 5px 20px 8px 5px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-family: "Salita";
  width: fit-content;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

#label:hover {
  background-color: #00B5AD;
  box-shadow: 0 0 15px 5px #00B5AD; /* Add glow effect */
}

.intro h1 {
  font-family: "Salita";
  font-size: 64px;
  margin: 0;
}

.intro #sub-head-1 {
  color: var(--text-earth);
}

.intro #sub-head-2 {
  color: var(--base-purple);
}

.intro .btns {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 20px;
}

.intro #intro-button {
  color: white;
  background-color: #007AFF;
  font-family: "Salita";
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.intro #intro-button:hover {
  background-color: #026fe3;
}

.intro #intro-button-github {
  font-family: "Salita";
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--texts-all);
  border: 1px solid var(--base-purple);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.intro #intro-button-github:hover {
  box-shadow: 0 0 15px 5px var(--base-purple); /* Add glow effect */
}

.intro p {
  font-family: "Saira";
  font-size: 22px;
  text-overflow: clip;
}

.intro-images .circle-bg {
  position: relative;
  background-image: linear-gradient(180deg, var(--base-gradient), var(--base-gradient-2));
  mix-blend-mode: var(--blend-mode);
  border-radius: 50%;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 100px 0 200px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.intro-images .circle-bg:hover {
  box-shadow: 0 0 15px 5px var(--circle-bg); /* Add glow effect */
}

.circle-bg img {
  width: 200px;
  height: 200px;
  position: absolute;
}

.circle-bg img:nth-child(1) {
  top: 60px;
  right: 120px;
  border-radius: 10px;
  border: 1px solid #007AFF;
}

.circle-bg img:nth-child(2) {
  bottom: 100px;
  right: 50px;
  border: 1px solid #00B5AD;
  border-radius: 5px;
}

.circle-bg img:nth-child(3) {
  bottom: 150px;
  left: 30px;
  border-radius: 50%;
  border: 1px solid red;
}

/* Responsive Adjustments */
@media (max-width: 1040px) and (min-width: 786px) {
  .intro {
    text-align: left;
    /* background-color: #007AFF; */
  }

  .intro h1 {
    font-size: 48px;
    text-align: left;
  }

  #label {
    padding: 5px 15px;
    font-size: 14px;
    text-align: left;
  }

  .intro .description {
    align-items: flex-start;
  }

  .intro #intro-button {
    font-size: 16px;
    padding: 8px 15px;
  }

  .intro #intro-button-github {
    font-size: 16px;
    padding: 8px 15px;
  }

  .intro p {
    font-size: 20px;
  }

  .intro-images .circle-bg {
    width: 400px;
    height: 400px;
    margin: 20px auto;
  }

  .circle-bg img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 768px) {
  .intro h1 {
    font-size: 36px;
  }
  .intro{
    /* background-color: red; */
  }

  .intro #intro-button {
    font-size: 14px;
    padding: 5px 10px;
  }

  .intro #intro-button-github {
    font-size: 14px;
    padding: 5px 10px;
  }

  .intro p {
    font-size: 18px;
  }

  .intro-images .circle-bg {
    width: 300px;
    height: 300px;
  }

  .circle-bg img {
    width: 120px;
    height: 120px;
  }
}
